.card-content__text {
  margin-bottom: 10px !important;
  &:first-child {
    color: white;
  }

  > button {
    display: flex;
    gap: 5px;
    align-items: center;
   
    &::after {
      content: '▼';
      scale: 0.7;
    }

    &[aria-label="Collapse"]::after {
      rotate: 180deg;
    }
  }
}

.highlight-border {
  background-color: var(--color-blue);
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.content-tags {
  margin-bottom: 10px;
}

.content-tags__item {
  display: inline-flex;
  gap: 5px;
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  color: var(--color-light-gray);
  opacity: 0.9;
}

.card-content__button {
  background-color: transparent;
  font-size: 14px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(181,184,177, 0.2);
    cursor: pointer;
  }
}

